@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  /* Set neon color */
  --normalPadding: 3%;
  --normalColor: rgb(21, 255, 0);
  --detailColor: rgb(17, 0, 255);
  /* --normalColor: white;
  --detailColor: black; */
}

* {
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
}

*,
html,
body,
#root {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* border: 2px solid white;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 10px var(--detailColor), 0 0 20px var(--detailColor),
    0 0 22px var(--detailColor), 0 0 25px var(--detailColor),
    0 0 33px var(--detailColor); */
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--normalColor);
  min-height: 100vh;
  z-index: -2;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border: 50px solid var(--detailColor);
  background-color: var(--detailColor);
  transition: 80ms ease-out;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
}

img {
  max-width: 100%;
  transform: translateZ(0);
  max-height: 100%;
  object-fit: contain;
}

.fullwidth {
  width: 100%;
}

p {
  font-size: 20px;
  text-align: left;
  color: var(--detailColor);
}
h3 {
  font-size: 25px;
  color: var(--detailColor);
  text-decoration: underline;
  text-align: left;
}
h2 {
  color: var(--detailColor);
}
h1 {
  margin-bottom: 50px;
  color: var(--detailColor);
}

strong {
  color: var(--detailColor);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

a {
  text-decoration: none;
  font-size: 20px;
}
a.visited {
  color: inherit;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.align-right {
  align-items: right;
  justify-content: flex-end !important;
}
.align-center {
  align-items: center;
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}

.standard-button {
  display: inline-block;
  font-weight: 200;
  font-size: 23px;
  height: auto;
  color: var(--detailColor);
  padding: 5px 20px 5px 20px;
  border: 2px solid var(--detailColor) !important;
  white-space: nowrap;
  border-radius: 25px;
  font-family: "Pathway Gothic One", sans-serif;
  /* mix-blend-mode: exclusion; */
}
.inverse {
  border: 2px solid var(--normalColor) !important;
  color: var(--normalColor) !important;
}

.projectTitle {
  max-width: 70%;
}
.borderTop {
  border-top: 2px solid var(--detailColor);
  margin-top: 15px;
  margin-bottom: 15px;
}

.tag,
.tag_button {
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.tag.active,
.tag_button.active {
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 10px var(--detailColor), 0 0 20px var(--detailColor),
    0 0 22px var(--detailColor), 0 0 25px var(--detailColor),
    0 0 33px var(--detailColor);
}

.mainImage {
  margin: 0;
}
.slide div,
.slide div .mainImage {
  height: 100%;
  object-fit: cover;
  width: auto !important;
}

.mainContainer {
  /* border-top: 2px solid var(--detailColor); */
  padding: var(--normalPadding);
  padding-top: 100px;
  min-height: 90vh;
}

.regContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.singlePost {
  margin-top: 50px;
}

/* frontpage grids */

/* tags */

.project_main_image {
  position: relative;
  width: auto !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* posts */

.post_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.post_card {
  position: relative;
  height: auto;
}
.post_card_image {
  object-fit: cover;
  width: 100%;
}

.post_card_overlay {
  position: absolute;
  z-index: 99;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  justify-items: space-between;
  background-color: var(--detailColor);
  mix-blend-mode: exclusion;
}
.post_card_overlay h1,
.post_card_overlay h2,
.post_card_overlay h3,
.post_card_overlay p {
  color: var(--normalColor);
}

.tag {
  margin-right: 5px;
}
.recap {
  padding-top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--normalPadding);
  padding-bottom: 0;
}
.fixedUnderHeader {
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--normalPadding);
}

.logo_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-height: 100px;
}
.logo_container img {
  position: absolute;
  z-index: -1;
}
.logo_container p {
  white-space: nowrap;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--normalPadding);
  margin-top: 100px;
}
.projectList-item:first-of-type {
  margin-bottom: 20px;
}
.projectList-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid var(--detailColor);
}

.projectList-item div {
  flex-grow: 1;
  text-align: left;
}
.projectList-item .categories {
  margin-right: 20%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.projectList-item .categories a {
  width: auto;
  position: relative;
}

.thumbnail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  z-index: -99;
}

/* featured posts */
.carousel {
  overflow: visible !important;
  max-width: 800px;
  padding-bottom: 30px;
}

.carousel.slide img {
  width: 300px !important;
}

.nextArrow {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translate(50%, -50%);
}

.arrow {
  width: 40px;
  height: 40px;
  border: 2px var(--detailColor) solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--detailColor);
}

.prevArrow {
  position: absolute;

  left: -40px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: var(--detailColor) !important;
  opacity: 1 !important;
}
.dot.selected {
  opacity: 0.3 !important;
}

/* masonry */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-right: 2px;
  background-clip: padding-box;
}
.my-masonry-grid_column:last-of-type {
  padding-right: 0px;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* margin-bottom: 15px; */
}

.singleProjectMasonry img {
  width: 100%;
}
/* footer */

footer {
  min-height: 50vh;
  background-color: var(--detailColor);
  padding: var(--normalPadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  color: var(--normalColor);
}

.social_media_icon {
  height: 35px;
  object-fit: contain;
}

.blockContent figure {
  margin-top: var(--normalPadding);
  margin-bottom: var(--normalPadding);
}

.content {
  margin-top: 100px;
  padding-top: 15px;
  border-top: 2px solid var(--detailColor);
  margin-bottom: 500px;
}
.contentBlock {
  max-width: 90%;
}

.project_directory_line a,
.project_directory_line p {
  font-size: 13px;
}

@media only screen and (max-width: 700px) {
  .to-column {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .featured_post_card_image {
    flex-grow: 2;
    max-width: 100%;
    height: 50%;
  }

  .featured_post_card_overlay {
    max-width: 100%;
    height: 50%;
  }

  .authorImage {
    max-width: 100%;
    margin-bottom: var(--normalPadding);
  }
  .authorInfo {
    max-width: 100%;
  }
  .nextArrow {
    position: absolute;
    right: 0px;
    top: 100%;
    transform: translate(0%, -0%);
  }

  .prevArrow {
    position: absolute;
    left: 0px;
    top: 100%;
    transform: translate(-0%, -0%);
  }
  .carousel {
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 500px) {
  .logo_container,
  .logo_container p {
    width: 100%;
    text-align: center;
  }

  nav {
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 9999999999;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: var(--normalPadding);
  }
  .mainContainer {
    padding-top: 130px;
  }

  .singlePost {
    margin-top: 15px;
  }

  .fixedUnderHeader {
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    z-index: 9999999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--normalPadding);
  }
}

@media only screen and (min-width: 1000px) {
  .mainContainer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
